@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#131313] text-[#e5e2e1] overflow-x-hidden;
    font-family: 'Manrope', sans-serif;
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer components {
  .neon-glow {
    text-shadow: 0 0 12px rgba(129, 236, 255, 0.4);
  }

  .glass-panel {
    backdrop-filter: blur(20px);
    background: rgba(14, 14, 14, 0.7);
  }

  /* Material Symbols Integration */
  .material-symbols-outlined {
    font-display: block;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
  }
}

@layer utilities {
  .tracking-extrawide {
    letter-spacing: 0.4em;
  }
}
